
.bookButton {
    margin-bottom: 3rem;
    font-family: "Nunito", sans-serif;
    font-size: 2rem;
    color: rgba(243, 210, 168, 0.76);
    background-color: rgba(129, 102, 102, 0.82);
    border: #a68251 2px ridge;
}