
.bookButton {
    margin-bottom: 3rem;
    font-family: "Nunito", sans-serif;
    font-size: 2rem;
    color: rgba(253, 236, 211, 0.76);
    background-color: rgba(88, 68, 68, 0.82);
    border-color: #815e2f;
}