* {
    font-family: "Nunito", sans-serif;
}

.aboutContainer {
    background-image: url('../../src/assets/images/myspys.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    padding-bottom: 5%;
}

.emp {
    padding-top: 4%;
    padding-bottom: 2%;
    font-size: 3em;
    color: #ffffff;
    font-family: 'Tiempos';
    font-weight: bold;
}

