* {
    font-family: "Nunito", sans-serif;
}

.aboutContainer {
    background-image: url('../../src/assets/images/myspys.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
}

.emp {
    padding-top: 2.5rem;
    font-size: 3rem;
    color: #c5b195;
    text-shadow: 2px 2px 3px #7a533a;
}

