.cardContainer {
    background-image: url('../../src/assets/images/myspys.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    font-family: "Nunito", sans-serif;
}

.cleaningCard {
    width: 100%;
    background-color: var(--light-brown);
    color: #332109;
}

.image {
    padding: 60px;
    background: var(--beige);
    border-bottom: rgba(152, 110, 46, 0.63) 2px solid;
}

.cardTitle {
    font-weight: bold;
    color: #64461d;
}

.cardList {
    background-color: rgba(248, 224, 194, 0.87);
    border: rgba(152, 110, 46, 0.62) 2px solid;
    color: #332109;
}

.cardFooter {
    color: #000000;
    font-weight: bold;
    font-size: large;
}
