.info-list {
    text-align: center;
    font-size: 1.1em;
}

.contact-title {
    text-align: center;
}

#faq-link {
    color: var(--dark-purple);
    text-decoration: none;
}

#faq-link:hover {
    color: var(--light-brown);
}