.carousel {
    display: flex;
    flex-direction: row;
    padding: 0 5% 2% 5%;
}

.empCard {
    margin: 18px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    border-radius: 25px;
    background-color: var(--light-brown);
    color: var(--brown);
}

.cardImage {
    padding: 80px;
    background: #faf0e4;
    border-bottom: rgba(152, 110, 46, 0.63) 2px solid;
}

.empCard a {
    color: var(--dark-purple);
    text-decoration: none;
}

.empCard a:hover {
    text-decoration: underline;
}



