.faq-container {
    font-family: 'Nunito';
    background-color: var(--dark-purple);
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    padding-bottom: 5%;
}

.faq {
    font-size: 3em;
    font-weight: bold;
    color: var(--beige);
    padding-top: 5%;
    padding-bottom: 1%;
}

.faq-question {
    cursor: pointer;
    color: var(--light-brown);
    font-size: 1.5em;
    padding: 1% 0;
    background-color: var(--dark-purple);
    border: none;
}

.faq-question:hover {
    font-weight: bold;
}

.faq-answer {
    color: var(--beige);
    margin: -1% 25% 2% 25%;
    text-align: center;
}

@media only screen and (max-width: 1200px) {
    .faq-answer{
        margin: 2% 15%;
    }
}

@media only screen and (max-width: 800px) {
    .faq {
        font-size: 1.5em;
    }
    
    .faq-question {
        font-size: 1em;
        
    }
}