.container-fluid {
    background-color: var(--beige);
    border-top-color: #e1dfdf;
    border-top-style: solid;
    border-top-width: 2px;
}

ul {
    list-style: none;
}

ul > li > a {
    color: var(--dark-purple);
    text-decoration: none;
    line-height: 1.8;
}

ul > li > a:hover,
a:hover {
    color: var(--dark-beige);
    font-weight: 500;
}

.col-heading {
    display: block;
    font-size: 1.3rem;
    text-transform: uppercase;
    color: var(--dark-purple);
    font-weight: 500;   
    margin: 0.4rem 0;
    padding: .4rem 0;
    border-bottom: 1px solid #c7c7c7;
    letter-spacing: 3px;
}

#to-top:hover {
    background-color: #555;
}

#bottom-footer {
    background-color: var(--dark-purple);
    color: #363636;
    margin-top: 0.5rem;
    padding-top: .7rem;
    border-top-color: #ded9d9;
    border-top-style: solid;
    border-top-width: 2px;
}

.vertical-links > li {
    display: inline-block;
    vertical-align: text-bottom;
}

.vertical-links > li > a {
    color: var(--beige);
    font-weight: 400;
    margin-left: 1rem;
    list-style-type: square;
}

.small {
    color: var(--beige);
}

ul li {
    color: var(--dark-purple);
}