#navbar {
    background-color: var(--beige);
}

.nav-link {
    font-family: 'NTR', sans-serif;
    font-size: 1.3em;
    padding: 0 20px;
    color: var(--dark-purple);
    vertical-align: middle;
}

.nav-link:hover {
    color: var(--dark-beige);
    font-weight: normal;
}

.logo {
    padding-right: 40px;
}