#navbar {
    background-color: var(--beige);
}

.nav-link {
    font-family: 'NTR', sans-serif;
    font-size: 1.5em;
    padding: 0 20px;
    color: var(--dark-purple);
}

.nav-link:hover {
    color: var(--dark-beige);
    font-weight: normal;
}

.btn-beige {
    background-color: var(--dark-purple);
    color: var(--beige);
    border: none;
}

.btn-beige-hover:hover {
    background-color: var(--dark-purple);
    opacity: 0.9;
}

.btn-outline-beige {
    background-color: var(--beige);
    color: var(--dark-purple);
    border: 1px solid var(--dark-purple);
}

.btn-outline-beige-hover:hover {
    background-color: var(--dark-purple);
    border: 1px solid var(--dark-purple);
}

.logo {
    padding-right: 40px;
}