.products-header {
    font-family: 'Tiempos', serif;
    font-weight: bold;
}

.product-name {
    margin-top: 3%;
    font-family: 'Tiempos', serif;
}

.product-content {
    cursor: pointer;
    color: var(--dark-purple);
    font-size: 1em;
    background-color: inherit;
    border: none;
}

.product-content:hover {
    font-weight: bold;
}

.product-content-div {
    margin-bottom: 2%;
    font-style: italic;
}