.header-title {
    margin: 9% 0 2% 0;
    text-align: center;
    font-family: 'Tiempos';
    color: #e0e0e0;
    font-size: 1.2rem;
    padding: .6%;
    border-radius: 7px;
    background-color:rgba(255, 255, 255, 0.1);
}

.reviewCard {
    width: 100%;
    background-color: var(--light-brown);
    color: var(--dark-purple);
}

.reviewTitle {
    font-family: "Tiempos";
    color: var(--brown);
    margin-bottom: 1em;
    font-size: 1.5em;
    padding: 10px;
    border-bottom: 1px solid rgba(89, 69, 69, 0.3);
}

.reviewFooter {
    color: var(--dark-brown);
    font-weight: bold;
    font-size: large;
    font-style: italic;
}