.reviewCard {
    width: 100%;
    border: rgba(152, 110, 46, 0.63) 2px ridge;
    background-color: var(--light-brown);
    color: #332109;
}

.reviewTitle {
    font-weight: bold;
    color: #000000;
}

.reviewFooter {
    color: #64461d;
    font-weight: bold;
    font-size: large;
    font-style: italic;
}