@font-face {
    font-family: "Nunito";
    font-weight: 200;
    font-display: fallback;
    src: url("../src/assets/fonts/NunitoSans_7pt-Regular.ttf") format("truetype");
}

#root {
    min-width: 100vw;
    min-height: 100vh;
    margin: 0 auto;
    text-align: center;
    overflow-x: hidden;
    overflow-y: hidden;
}

@media screen {
    .popup {
        background-color: rgba(0, 0, 0, 0.5);
        color: var(--bs-dark);
        height: 100vh;
        left: 0;
        position: absolute;
        top: 0;
        width: 100vw;
    }

    .popup-content {
        background-color: white;
        height: 80vh;
        justify-content: center;
        margin: auto;
        padding: 2rem;
        position: relative;
        text-align: left;
        z-index: 2;
    }

    @media screen and (min-width: 600px) {
        .popup-content {
            top: 15%;
            max-width: 80vw;
            height: fit-content;
        }
    }

    @media screen and (min-width: 1000px) {
        .popup-content {
            max-width: 40vw;
        }
    }

}